#root {
  max-width: 1280px;
  margin: 80px auto;
  padding: 2rem;
  text-align: center;
  
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  margin: auto;
  padding: 2em;
  max-width: 370px;
}

.inputs{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.read-the-docs {
  color: #888;
}


input {
  letter-spacing: 0.05em;
  text-align: center;
  font-size: 16px;
  border-radius: 14px;
  border: 1px solid #ccc;
  padding: 10px;
}

.range{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#range{
  margin: auto;
  width: 80%;
  border-radius: 14px;
}

.coefficient{
  font-size: 1.2rem;
  font-weight: 600;
}

.resetBtn{
  margin-top: 10px;
  width: 90%;
}